.repo-name {
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.repo-body {
    display:flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.repo-body-l-child {
    align-self: center;
    width: 200px;
    height: 200px;
}

.repo-body-r-child > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.list > div {
    border: solid 1px;
}


